*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
     
}
body{
    background: -webkit-linear-gradient(top,#293462,#216583);
    
}
#container{
    margin-left: 50px;
    background-color: white;
}
.canvas{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px; 
    width: 625px;
    height: 570px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 6px rgba(65, 65, 65, 0.5);
}
.gridBox{
    
    
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid black;
    display: inline-block;
    vertical-align: bottom;

}
button{
    background-color: #cc9543;
    border: none;
    height: 40px;
    padding: 0 35px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    margin-top: 10px;
     
}
button:hover {
	opacity: 0.8;
	color: #fff;
	text-decoration: none;
}